<div class="box blue">
    <ion-content direction="y">
        <div class="normal">Welcome to</div>
        <div class="lead2" style="text-align:center; padding-top: 30px;">Victory San Diego</div>
        <div style="padding-top: 50px; font-style: italic;font-weight: lighter;color: silver">But thanks be to God! He
            gives us the victory through our Lord
            Jesus
            Christ.
        </div>

        <div class="dimmed-text">--1&nbsp;Corinthians&nbsp;15:57</div>

        <div class="row">
            <div class="col col-offset-33"></div>
        </div>


        <div class="lead3">Honor God.</div>
        <div class="lead3">Make Disciples.</div>

        <div class="button-box" style="padding-bottom:50px;">
            <button ng-click="gotoSlide(1)" class="button button-block button-clear  button-energized">
                I'm New
            </button>
            <button class="button button-block button-clear  button-energized">
                Kids
            </button>
            <button class="button button-block button-clear button-energized">
                Connect
            </button>
            <button class="button button-block button-clear button-energized">
                About Us
            </button>
            <button class="button button-block button-clear button-energized">
                Podcasts
            </button>
            <button class="button button-block  button-clear button-energized">
                Get In Touch
            </button>
            <button class="button button-block button-clear button-energized">
                Give
            </button>
        </div>

    </ion-content>
</div>
