<div class="box im-new">
    <ion-content direction="y">

        <div class="card">
            <div class="item item-divider" ng-click="contentChanged()">
                Location
            </div>
            <div class="item item-text-wrap transparent">
                De Portola Middle School 11010 Clairemont Mesa Blvd, San Diego, CA 92124
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Parking
            </div>
            <div class="item item-text-wrap">
                Our facility has enough parking space for everyone. Simply follow the Victory signs and you will soon be
                greeted by our parking attendants who will guide you to the parking spaces reserved for first time
                guests.
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Worship Service Experience
            </div>
            <div class="item item-text-wrap">
                Expect a warm, welcoming, friendly atmosphere as you enter the hall. Snacks and drinks are
                available before and after the service. Experience inspiring worship, dynamic, practical and
                life-changing
                message, and encouraging fellowship every week.
                Service starts promptly at 10:30AM and ends at 12NN.
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Attire
            </div>
            <div class="item item-text-wrap">
                Dress like a normal SoCal person would…jeans, shorts, shirt, etc… But don’t forget, you are going to
                church
                not the beach!
            </div>
        </div>


        <div class="card">
            <div class="item item-divider">
                Kids Church
            </div>
            <div class="item item-text-wrap">
                Your children will love Victory Kids! With our trained volunteers and exciting kids’ environment, we’re
                sure
                your kids will feel the love of God, learn important truths, and have a great time. Kids Church
                experience
                is available for ages 2 to 7. You can check in your kids 15 minutes before the service. To find out more
                about Kids Church, click here.
            </div>
        </div>

    </ion-content>


</div>
