<ion-nav-view>
    <div multi-bg="['img/harbor-edited-portrait.jpg']"></div>
</ion-nav-view>

<ion-view class="profile-view">
    <ion-content>
        <div class="row profile-data">
            <div class="col">
                <ion-slide-box class="profile-slides" on-slide-changed="slideHasChanged($index)">

                    <ion-slide>
                        <div class="slide-content">
                            <div class="">
                                <div class="" style="background-color: #000828;">
                                    <!-- We need a wrapper with width set for the preload image directive -->
                                    <!-- Using col-25 sets width, that will do the trick -->
                                    <div class="">
                                        <pre-img ratio="_1_1">
                                            <img style="width:100%" ng-src="img/home-banner-1_6plus.jpg"
                                                 spinner-on-load>
                                        </pre-img>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="row slide-content iam-new">
                            <div class="col col-center user-data user-more-info">
                                <p class="iam-new">

                                </p>
                            </div>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="row slide-content">
                                   <div class="col col-center user-data user-more-info">
                                <p class="user-resume">
                                    AAA
                                </p>
                            </div>
                        </div>
                    </ion-slide>

                </ion-slide-box>
            </div>
        </div>

        <div class="row user-related-content">
            <ion-scroll direction="x" class="col wide-as-needed">
                <div class="row card-scroller">

                    <div class="col col-50 card-outer">
                        <div class="card">
                            <div class="row author-image">
                                <div class="pre-autor-image">
                                    <pre-img ratio="_1_1">
                                        <img class="card-user-image" ng-src=""
                                             spinner-on-load>
                                    </pre-img>
                                </div>
                            </div>
                            <div class="row author-name">
                                Leticia Gonzalez
                            </div>
                            <div class="row card-description-text only-text-card">
                                <div class="item-text-wrap">
                                    {{"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took."|truncate:160}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-50 card-outer">
                        <div class="card">
                            <div class="row author-image">
                                <div class="pre-autor-image">
                                    <pre-img ratio="_1_1">
                                        <img ng-src="" spinner-on-load>
                                    </pre-img>
                                </div>
                            </div>
                            <div class="row author-name">
                                Sam Kal
                            </div>
                            <div class="row card-description-text">
                                <div class="item-text-wrap">
                                    {{"This is a basic Card which contains an image."|truncate:45}}
                                </div>
                            </div>
                            <div class="row card-description-image">
                                <div class="image-wrapper">
                                    <img ng-src="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-50 card-outer">
                        <div class="card">
                            <div class="row author-image">
                                <div class="pre-autor-image">
                                    <pre-img ratio="_1_1">
                                        <img ng-src="" spinner-on-load>
                                    </pre-img>
                                </div>
                            </div>
                            <div class="row author-name">
                                Pepita Gonzalez
                            </div>
                            <div class="row card-description-text">
                                <div class="item-text-wrap">
                                    {{"This is a basic Card which contains an image and is my favourite."|truncate:60}}
                                </div>
                            </div>
                            <div class="row card-description-image">
                                <div class="image-wrapper">
                                    <img ng-src="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-50 card-outer">
                        <div class="card">
                            <div class="row author-image">
                                <div class="pre-autor-image">
                                    <pre-img ratio="_1_1">
                                        <img class="card-user-image" ng-src=""
                                             spinner-on-load>
                                    </pre-img>
                                </div>
                            </div>
                            <div class="row author-name">
                                Agustin Haller
                            </div>
                            <div class="row card-description-text only-text-card">
                                <div class="item-text-wrap">
                                    {{"This is a basic Card which contains an image and Lorem Ipsum is simply. This is a
                                    basic Card which contains an image and Lorem Ipsum is simply."|truncate:150}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-50 card-outer">
                        <div class="card">
                            <div class="row author-image">
                                <div class="pre-autor-image">
                                    <pre-img ratio="_1_1">
                                        <img ng-src="" spinner-on-load>
                                    </pre-img>
                                </div>
                            </div>
                            <div class="row author-name">
                                Josh Merrel
                            </div>
                            <div class="row card-description-text">
                                <div class="item-text-wrap">
                                    {{"This is a basic Card which contains an image."|truncate:45}}
                                </div>
                            </div>
                            <div class="row card-description-image">
                                <div class="image-wrapper">
                                    <img ng-src="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
